* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
#app {
  height: 100vh;
}
@font-face {
  font-family: MyFont-Regular;
  src: url("./fonts/Circe-Regular.ttf");
}
@font-face {
  font-family: MyFont-Bold;
  src: url("./fonts/Circe-Bold.ttf");
}
@font-face {
  font-family: MyFont-ExtraBold;
  src: url("./fonts/Circe-ExtraBold.ttf");
}
@font-face {
  font-family: MyFont-ExtraLight;
  src: url("./fonts/Circe-ExtraLight.ttf");
}
@font-face {
  font-family: MyFont-Thin;
  src: url("./fonts/Circe-Thin.ttf");
}
@font-face {
  font-family: MyFont-Light;
  src: url("./fonts/Circe-Light.ttf");
}

:root {
  --default-blue: #5f9ea0;
  --default-white: #f7f7f7;
  --default-grey: #a2a2a2;
  /* === fonts === */
  --regular: MyFont-Regular;
  --bold: MyFont-Bold;
  --extrabold: MyFont-ExtraBold;
  --extralight: MyFont-ExtraLight;
  --thin: MyFont-Thin;
  --light: MyFont-Light;
}
